/nbproject/private/
/build/
/dist/
/Ofood-war/nbproject/private/
/Ofood-ejb/nbproject/private/
/Ofood-ejb/build/
/Ofood-ejb/dist/
/Ofood-war/build/
/Ofood-war/dist/

/InfoRestaurant/nbproject/private/
/InfoRestaurant/build/
/InfoRestaurant/dist/

# NetBeans specific #
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear