/nbproject/private/
/build/
/dist/
/Ofood-war/nbproject/private/
/Ofood-ejb/nbproject/private/
/Ofood-ejb/build/
/Ofood-ejb/dist/
/Ofood-war/build/
/Ofood-war/dist/

/InfoRestaurant/nbproject/private/
/InfoRestaurant/build/empty/
/InfoRestaurant/build/generated/
/InfoRestaurant/build/web/
/InfoRestaurant/dist/

# NetBeans specific #
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
!/Ofood-war/web/WEB-INF/lib/gson-2.5.jar
!/Ofood-war/web/WEB-INF/lib/jsonschema2pojo-core-0.4.17.jar