/nbproject/private/
/Ofood-war/nbproject/private/
/Ofood-ejb/nbproject/private/
/Ofood-ejb/build/
/Ofood-ejb/dist/
/Ofood-war/build/
/Ofood-war/dist/
/build/
/dist/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

